main {
  margin-left: 150px;
  margin-right: 0;
  margin-top: 0;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px 20px;
}

.logo img, .user-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 150px;
  height: 100vh;
  background-color: #f8f8f8;
  border-right: 1px solid #ccc;
}

.navbar-brand {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbar-brand img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.brand-name {
  font-family: Verdana, serif;
  font-size: 26px;
  color: black;
  margin: 0;
}

.brand-link {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  background-color: #eee;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-avatar {
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-avatar img {
  width: 100%;
  height: auto;
}

.profile-info h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.profile-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-info li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
}

.profile-info p {
  font-size: 16px;
  line-height: 1.5;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 300px));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  position: relative;
  width: 100%;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 5px;

}

.top-nav {
  height: 54px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  font-size: 2em;
  font-weight: 800;
  line-height: 54px;
  display: inline-block;
  margin-right: 40px;
  color: #000;
  text-decoration: none;
}

.card {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0975);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.card-header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-header img {
  border-radius: 50%;
  width: 32px;
  margin-right: 10px;
}

.card-header a {
  font-weight: 600;
  color: #000;
  margin-right: 10px;
  text-decoration: none;
}

.card-header span {
  font-size: 0.8em;
  color: #8e8e8e;
}

.card-body img {
  width: 100%;
  max-height: 700px;
}

.card-footer {
  padding: 20px;
}

.actions a {
  margin-right: 20px;
  color: #000;
}

.actions a i {
  font-size: 1.5em;
}

.likes {
  display: block;
  margin: 10px 0;
  font-weight: 600;
  color: #000;
}

.comments .comment {
  margin: 5px 0;
}

.comments .comment a {
  font-weight: 600;
  color: #000;
  margin-right: 5px;
  text-decoration: none;
}

.comment-form {
  margin-top: 10px;
}

.comment-form input {
  border: none;
  padding: 8px;
  font-size: 1em;
  width: 80%;
  border-radius: 3px;
  background-color: #fafafa;
}

.comment-form button {
  border: none;
  background-color: transparent;
  color: #3897f0;
  font-weight: 600;
  font-size: 1em;
  margin-left: 10px;
}

.logo {
  margin-right: 20px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(80px, 700px));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}