{% extends "authorised_base.html" %}

{% block content %}
{% for post in posts %}
    <div class="posts-container">
        <div class="card">
            <div class="card-header">
                <a href="/user/{{ post.user.nickname }}">
                    <img src="{{ post.user.avatar }}" alt="Post">
                    {{ post.user.nickname }}
                </a>
                <span>{{ prescriptions[loop.index0] }}</span>
            </div>
            <div class="card-body">
                <p>{{ post.post_text }}</p>
                <img src="/{{ post.post_picture }}" alt="Post">
            </div>
            <div class="card-footer">
                <span class="likes">{{post.likes}} likes</span>
                <div class="comments">
                </div>
                <form class="comment-form" action="/send_comment/{{ post.id }}" method="post">
                    <label>
                        <input type="text" placeholder="Add a comment..." name="comment_text">
                    </label>
                    <a class="btn btn-dark" href="/like_post/{{ post.id }}/feed">Like the post</a>
                    {% if post.comments_number > 0 %}
                        <a class="btn btn-dark" href="/view_comments/{{ post.id }}">
                            View all {{post.comments_number}} comments</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}