{% extends "authorised_base.html" %}

{% block content %}
<div class="profile-header">
  <div class="profile-avatar">
    <img src="{{user.avatar}}" alt="Аватар пользователя">
  </div>
  <div class="profile-info">
    <h1>{{user.name}} {{user.surname}}</h1>
    <ul>
      <li><strong>Публикации:</strong> {{user.posts}} </li>
      <li><strong>Подписчики:</strong> {{user.subscribers}} </li>
      <li><strong>Подписки:</strong> {{user.subscriptions}} </li>
    </ul>
    <p>{{user.description}}</p>
  </div>
</div>
<div class="gallery">
  {% for post in user.post %}
    <div class="gallery-item">
      <a href="/post/{{ post.id }}">
        <img src="/static/img/image.jpg" alt="Изображение 1">
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}